# Copyright 2019 The OpenTracing Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

dist: trusty
language: java
cache:
  directories:
  - ~/.m2
before_install:
- 'export MAVEN_OPTS=-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn &&
   cp settings.xml $HOME/.m2/settings.xml;'
stages:
- install
- test
- deploy
jobs:
  include:
  - stage: install
    jdk: oraclejdk8
    install: rm -rf ~/.m2/build ~/.m2/repository/io/opentracing/contrib/specialagent
    script:
    - 'if [ "$TRAVIS_BRANCH" = "master" ] &&
          [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
        mvn -B -P report install &&
        mvn -B -DrepoToken=$REPO_TOKEN coveralls:report &&
        mvn -B -Dassemble install;
      else
        mvn -B install &&
        mvn -B -Dassemble install;
      fi'
    before_cache: find . -name target -exec rsync -R -r '{}' ~/.m2/build \;
  - stage: install
    jdk: oraclejdk11
    install: rm -rf ~/.m2/build ~/.m2/repository/io/opentracing/contrib/specialagent
    script:
    - 'mvn -B install &&
       mvn -B -Dassemble install;'
    before_cache: find . -name target -exec rsync -R -r '{}' ~/.m2/build \;
  - stage: deploy
    jdk: oraclejdk8
    install: rsync -r ~/.m2/build/ .
    script:
    - 'if [ "$TRAVIS_BRANCH" = "master" ] &&
          [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
        sh -c "$SIGNING_KEY" | $GPG_EXECUTABLE --fast-import &> /dev/null &&
        mvn -B -Dassemble -P deploy deploy;
      fi'
  - name: "Akka Http [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P akka-http install
  - name: "Akka Http [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P akka-http install
  - name: "Apache HttpClient [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P apache-httpclient install
  - name: "Apache HttpClient [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P apache-httpclient install
  - name: "AsyncHttpClient [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P asynchttpclient install
  - name: "AsyncHttpClient [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P asynchttpclient install
  - name: "AWS SDK 1 [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P aws-sdk-1 install
  - name: "AWS SDK 1 [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P aws-sdk-1 install
  - name: "AWS SDK 2 [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P aws-sdk-2 install
  - name: "AWS SDK 2 [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P aws-sdk-2 install
  - name: "Cassandra [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P cassandra install
#  - name: "Cassandra [oraclejdk11]" # This is commented out, because Cassandra does not run ok jdk11
#    stage: test
#    jdk: oraclejdk11
#    install: true
#    script: mvn -B -Dtest -P cassandra install
  - name: "ElasticSearch [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P elasticsearch install
  - name: "ElasticSearch [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P elasticsearch install
  - name: "Feign [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P feign install
  - name: "Feign [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P feign install
  - name: "Grizzly Http Client [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P grizzly-http-client install
  - name: "Grizzly Http Client [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P grizzly-http-client install
  - name: "Grizzly Http Server [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P grizzly-http-server install
  - name: "Grizzly Http Server [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P grizzly-http-server install
  - name: "gRPC Http Server [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P grpc install
  - name: "gRPC [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P grpc install
  - name: "Hazelcast [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P hazelcast install
  - name: "Hazelcast [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P hazelcast install
  - name: "Java Concurrent API [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P concurrent install
  - name: "Java Concurrent API [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P concurrent install
  - name: "Java JDBC API [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P jdbc install
  - name: "Java JDBC API [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P jdbc install
  - name: "Java Servlet API: Jetty [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P servlet-jetty install
  - name: "Java Servlet API: Jetty [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P servlet-jetty install
  - name: "Java Servlet API: Tomcat [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P servlet-tomcat install
  - name: "Java Servlet API: Tomcat [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P servlet-tomcat install
  - name: "JAX-RS Client [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P jaxrs install
  - name: "JAX-RS Client [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P jaxrs install
  - name: "Jedis [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P jedis install
  - name: "Jedis [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P jedis install
  - name: "JMS 1 [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P jms-1 install
  - name: "JMS 1 [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P jms-1 install
  - name: "JMS 2 [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P jms-2 install
  - name: "JMS 2 [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P jms-2 install
  - name: "Kafka Client [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P kafka-client install
  - name: "Kafka Client [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P kafka-client install
  - name: "Lettuce [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P lettuce install
  - name: "Lettuce [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P lettuce install
  - name: "MongoDB Driver [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P mongo-driver install
  - name: "MongoDB Driver [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P mongo-driver install
  - name: "OkHttp [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P okhttp install
  - name: "OkHttp [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P okhttp install
  - name: "Play [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P play install
  - name: "Play [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P play install
  - name: "Play WS [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P play-ws install
  - name: "Play WS [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P play-ws install
  - name: "RabbitMQ Client [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P rabbitmq-client install
  - name: "RabbitMQ Client [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P rabbitmq-client install
  - name: "Reactor [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P reactor install
  - name: "Reactor [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P reactor install
  - name: "RxJava [oraclejdk8]"
    stage: test
    jdk: oraclejdk8
    install: true
    script: mvn -B -Dtest -P rxjava install
  - name: "RxJava [oraclejdk11]"
    stage: test
    jdk: oraclejdk11
    install: true
    script: mvn -B -Dtest -P rxjava install
env:
  global:
  - secure: d1B5Y4hSxFBgXPKEkZkBTsCgccZAB72G9A8Rxx/cRH1lmSRqY3GSma37Np9hG9QmxXxvzfPkFvJO7chkvn4HpbQSHOVrqGDkzHmiG7lVfqKMO3vzlR/Gf/2eV8aIhwxA9cPiStBV4glhamcAc+wHUiZPG7ETDbeNEfZ6hLbSaLv1P6yZoOwL/OqMXvFCPZLpG1I1k0bHusGYY35QbKsjpv9ThmCucqn63g+e6OgCGDenxT4w/7lYq+ac2Rj+aJFWeGZk9Dr2jUMa9awhCG3iHEr3atEb6kiWiw9ZvvWErFYkayoSlgGVSvsELQLo3Psnso1UU8p1NwNoSkbFZ46Ojs8MnubE/Fh7AdDMGYxodvXILjqOOuHq7j+pJcwPFSl5xdrw97NTELwZdxmc5nazf8q3jr05jeoWBTCd6hGtRpFFkt5wpOBDXhm/6fNxCRwSnruqn/zn936HSHPUSd9VodYqKxPmEDG7gawo6WIN+vKlmM4kyEFY8J0xEdo5+ePusm8puqlp0mi6bR7X+BPII4zRpL7tj0O3Yw2RoJrZsrw6QjxU4m/bsVty7Eiq5fQV4/v8Wj5DD3OjsFwgwtWQsxTYd82iIMg+se/taO2AB/+SRgZilLUdEKPKOq9RGWGukxKG+12doXkbBPpc1zGteurTjpD9ZR6YSTcK14WfRKQ=
  - secure: aT1D+DKLXdDngnMlK+vWTZFiTu2NrtnGcI0nB0ub3aAu5iv2h6YRcO4FalsrhLILprno92oPwskGCxhIbCZDS3ri/E6ye5Gnf60F17cBu8Khq3eoB4fgOt3Tmfz2K35IEM5naskrDUE46XiMx5w7hd9N7SWAB6ChPs1b/vSEMUW17JxihLUqbAPYSECQCRUZJVJ9KempM2IkLkXKFWcFWnmss52ws0rwb8HayWIOgUjpILpwk5WOa6ahi+K+TPKPu2UB4l1B25qRAfzez4aF34CCisyBTjuT/hZND4Vd1gnDuM+eu4u0w5arDQwKxScZvBclMMEOSFeam+TbX45gTqrGInmQDrg3Ex600l5KMHdjOizLqKanzces5HIjFCHLaLMv/jAm65JQnCKrJdOmDlP4R9Rpycy4scfF+bhT0M9TqkkJb4d+fRaGzdmQ12+xERJYipcoBrIgfWejXzYcbTaVz69Zw9qw50QJ6KmtuZhrKxR4PQtIihub2S2kIlh0y8Pp/DRdqjPEyKNhLsglQz1YHv09F6dmCFCUM/VTRKMVZr5MONvHilwnl0QY0CeQoPZllOrzgEEue82K1AkMvVoRxgA1tlQ8uUoskrrOUSVtZf7GMj8DQH/ehhGFUs3QARoptdftjYENOS3IF/YMf9Z50lQCRoHFz7EjlL4wjug=
  - secure: ZtmXmQQvxYFuWJlCZOxyKYxLz/273Qp5SxsFLpJwQ2ShK1iuRNrm79hJBJpHow3s0whgnMTBjT0uH4Biniw17jU7++aowUwoIbXddOXPyEMbvpW9pOqQ3dbkDxExfCF4QsuohH4ngbol6lJxKBPy5HHOF21tG6g789LSPSbdl9g8rivXJhfGjMzzvq1VeV2gUwQ896BJIDKCE1QoUTGcpYuetWDNz5+1NEQGedyeRdMLcAku5tWrciFfOACVekgeX3FRGWb2EP/GvDSoP5dFKITHwk6F95SPBQMSr/JmaHgHrRYm2aJgF3V7Cb8DOnAP+r3qw5wKunf6OKA+XK8stSAxuqw9fwGX1fOj9jG7DiMwQGlk1uXfY8ZlRdQkhhrlwbkgzbHn8RXCY3TuyAIf9OQa/44yx+yLRhYswzIOr0dcK1avxssjEv9W+YdEUKLFr26GyijeuTzpwA7jGoeZ6lnjPbaHhbQY7oAbsJdqZ57QfRp9lr7zCTpK9QJaRYxZSaE2FIpf8BqKMv60sW1i3vhhQK2TWbJEGIi64Nd/oIGrKq3F1lYeWG8GiyLrsbqh0G8EY81+wzz/cMSQ5DRuGQHBG3cFzY3DEhmb3wfz2w4BJPX02Hv6eP8lg79QVWV9yNVBlm1qqKobsheR1G71aYAYNavoFz1jWEGE/JcG7VE=
  - secure: BJEysUZ8mpAtBlgpl4gLuunr8u4dYLS/mTmASUGySVcR1bulzM/CRw9wpP3MrntdaYLSRMzBSdqqJITzX5okQaGEKaBLqtJmFrabdMijOk+/g9IV2xtr+jqNNcz6YpazuUVzRYwxgQYAFt3peZ1xbcjUiZyIlyTjQQKm5yed5unSa+nhy9agb2L6t5JHLsaCiiM4XjB4vhjB//d7PZnOVpOz58b8lIR7bTA/dd1fxVJDICQKkrRk1Vz/TvBK8yGTp2WR1YIPNuFARcTudVmDoJN++FNCG2iUw/XgprBXaMzy/jcBw6AbYG09d3Z9ZrApt+Y/coLj0Qj0T1M3zrprMQdwPV3vnQo9eZ2r3N5DxP6OX+I/al+4POJ38bw8QQ2BP7Lnzlhq/e0YYi/0vgQxcICnIkIwOKBO75qopqkvRL9qXKRfzLz79/Bek3NMcxZUfdOtPI0WCu1vbCwNz5R3bXWgp1+IrLXvxaYUI2pXigLlFQvOHdVvft4ENJevcje0fHnCuYiEMq7oAgX22eglEYb7ciCiy1QjfjaTJJw7zK6ZpuWommWJhjp2kc/dv8nXsOSvEgnx3no95ghBiOb/bvj5mY3V+b5i6JHGLiWlP4VKdRfvUK1XkM9YiUfTrt0UGOAJRljK5omgmH4BSqKGNbgVtT1GwfgUD6FXbB+fzmk=
  - secure: cEyAHBMES0jIjrrKu5mJBelI512N27se6lyt0bM/2cD+vjxBUAemFMSK/6DcNIvxIZI+/kVKG9ty/LuGH0R85AUsJlZ2ssrAoG7R+pel01mOBJHoLtZ7HACI1PQYb4RvvQGWa1hLw0lMu6pkduQtWiDaPdCGhs5+Svtd7gpmHV+Y5a9A2RvnFRaEIqxLgvPt+XgIsHAuzWTuOEr7A1akN/L+SGC9siEZ/6zTXfWRMm+DfLemJ4DFLY0CHAPNo/PJA3B+95QapROLK/mG8R4VBIPsVRf3sLtB3DVce1+e8tPajyi7OlNV2icqihSXgMrxwxK08JSWk7jTQm463/DSIhykdEqIrqdK0FnYDe3jY2FRHnqj7Mlk0qh0hLIXofUKs9pQS45gJU7Z4aiq3gY8t31TuRishsO7QD85YffJLzZSe9rJp/IYfR/famfnAMHlU4gCTtbhVtOxzUQBhHpwqQ10hb9KVSacCArvZl6+NlRln1Jeqql5FFek5VnLX/uBZAzdNoCvXB4NLzhp1WJXq2jcDrbs29BxbzkHsWyH+QHkRV+fq+VwduLAHWa7/3bRAW+yhTxCmvrZzvx4ZslxIetxb8x7Z/C46OYx2M4qZct/FVbnOEWbl/OpCYBU/xwxotkrBUJH8VBdFMcN/9KGSOGG9ORRu4gV7Wu+3+kZizA=
  - secure: FNJP5tC98Mt0eQsjxZnFH8/6Yh9yTDB3b8dB8GcGApt1JilnDG20Stl71fDF5VYCN+uUJn0omHjqoKAT6z+DYTekn2xKzwaUJM+hCjbMF/VyQ9ycDFjzBCAovDpLt6UEBIh1zWkuCjQxQOpoc5jPPVxYs/ZO+nai7gXC2/jTI+WaE6theikxITyKv0Lfmv8V2HaDSySZZV/mkczMTP2kwuj3QBXBNnq9/A9Fwc3oqPuvn8sDjAj/HD7QV/yMyjjxhF6Muv5/4DW4Ow7/+rChWM+Ofu6vTH21BKS8ETRPVtPVw8X6P/7R6Z+gyiKfMBwSNtG1H9GFqJqUVKfDE7ljGDMCs0MLy4zZyrcAQuRGnR/6LKhichNS3prkIYa4whwYtdD5QalcEsHsS4lMT9xMT8rdls8ww9h0AoodCW44KsfgFPUeCkRT4+MroOEbPfGvJ7XJ372Ml0IdvdNN8cXsteK+DygYwGrXzYuLuW9NELcwuWdDtOe+v4udtcXLxbRVQ3nkQZ5xwgevfXzNEFfL7ao2F4PP/37s6+da1Lym+i5DOzySH3BybGle+fJROhFyydrUDQg+4W/vmJHBQIZJquHejmHefWyqIH6vtEBUxNikq9j/6Hf8NNKcbSXfjfcFhsGGTW7rHsIBtMHOsC8O5TYnsY/6BGSumDi9k2Otdqc=
  - secure: FEO45PPUeOASirO9B+4NIntHDN2DOmTcJ6JCPw8U8Z27Cfx0eYtu0mrAIXkEwM7Z8JD4a+BJfM1vGucBAAeiuP/vG6SmGy9JcploIzY+2ANIte1LcP4OfrDRwgHEIBJuW9F4UrEBNUyOPucfzDKj3rUsG2aRZ7FvetmlIkZfp3HkSdyNZsCoViGZnYC1JBgmd/s9GdJcSwA//XF9qdqjvJPtXfg605T2S2FP3SMon5JhMUArclgQbOqIKKHvkgRm/CNuYXyz1JyPUii5lkGzs9X05bB1Hh5x2ptA7t/l4TGVMhctcHNXQ1j2osPl9aBCOcNv550oKuNddjxTtLNUnYAEPtG3zOX1fvOUzltr63wMKpGvlriJTv1I5N2i6Da40dmTukVhl+U6hNWhJGQXbkicCNtelgRMwcQ7lwVYLlreSV5FZcV26qJ0micuet6k0buQsolzGOKxjJ6om0tRFJaNz9/P4mRsiCFgmFSJxhP/yZ7V6n/Oda0Ajz/ffjNnPZ4QMODqyUcbUB0I6PMR7zPnPno+Y6wx+fLgPuSb0Ps07MnBu9Rx0+TMpuHyP3rlF3Y6z7YwFRt0H+ulfx2NTzHavs8MfblA6gElrLf1wFhVf7uwxzC/UTE2zSYydBAer2OhRJPaaflQxwumVDv/CVzgdYJUQ+miKybSBvrP1Z8=
